# Ignore big data files
/data/**/*.txt.gz
/data/**/*.bed.gz
/data/**/*.gtf.gz
/data/**/*.fna.gz
/data/**/*.csv
/data/**/*.csv.gz
/data/**/*.tsv
!/data/dhs_index/dhs733_training/dhs733_nonredundant_biosample_metadata.tsv
/data/**/*.tsv.gz
/data/**/*.json
/data/**/*.h5
/data/**/*.RData

# Ignore any folder named .ipynb_checkpoints anywhere in the repository
**/.ipynb_checkpoints

# Ignore any folder named __pycache__ anywhere in the repository
**/__pycache__/

# Ignore all .h5 model files inside subdirectories of the models directory
/models/*/*.h5
# Virtual environment
.venv/

# macOS
.DS_Store
